* {
    margin: 0;
    padding: 0;
    /*font-family: 'League Spartan', sans-serif;*/
    /*font-family: 'Anonymous Pro', monospace;*/
  }

 



/*Header*/

.header1 {
  
  top: 10%;
  min-height: 100vh;
  width: 100%;
  position: relative;

}

nav{
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: top;
  font-family: 'Oswald', sans-serif;
}

nav img {
  position: absolute;
    top: -30px; 
    left: 30px;
    margin: 0 auto;
    position: absolute;
    width: 160px;
    height: 160px;
 
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.header1, .nav-links ul li a {
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #FFBD59;
  display: block;
  margin: auto;
  transition: 0.5s;

}

.nav-links ul li:hover::after {
  width: 100%;
}

.home {
  background-image: url("images/HPBackground.svg");
  background-size: 101%;
  background-position: center;
background-size: 101%;
background-repeat: no-repeat;
background-size: cover;
position: relative;
} 

.text-box {
  width: 90%;
  position: absolute;
  top: 30%;
  left: 2%;
  text-align: left;
}

.text-box h1 {
  font-size: 80px;
  color: #fff;
  font-family: 'League Spartan', sans-serif;
}

.text-box p {
 color: white;
 font-family: 'Roboto', monospace;
 border: 1px solid #423D42;
 background: #423D42;
 border-radius: 30px;
 width: 33%;
 text-align: left;
 padding: 0 5px 0 5px;
 

}

.HP-btn {
  display: inline-block;
  text-decoration: none;
 color: #FFBD59;
 
  border: 1px solid #FFBD59;
  padding: 12px 34px;
  font: 14px;
  background: transparent;
  position: relative;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  border-radius: 30px;

}

.HP-btn:hover {
  border: 1px solid #FFBD59;
  background: #423D42;
  transition: 1s;
  
}
nav .fa-solid {
  display: none;
}
@media(max-width: 700px) {

  .text-box h1{
font-size: 50px;
  }

.nav-links ul li{
  display: block;
}

.nav-links {
  position: absolute;
  background: #423D42;
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}
nav .fa-solid {
  display: block;
  color: #fff;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}
.nav-links ul {
  padding: 30px;
}

.text-box p {
  width: 80%; /* Adjusted width for mobile */
  margin: 0; /* Centering the element */
  margin-bottom: 15px; /* Adding some space between elements */
}

}

/*About Me*/
.about {
  background-color: #FAF2CC;
}

.header2 {
  text-decoration: none;
  font-size: 32px;
  top: 10%;
  min-height: 100vh;
  width: 100%;
  position: relative;
background-position: center;
background-size: 101%;
background-repeat: no-repeat;
background-size: cover;
position: relative;
  
}
.header1, .nav-links ul li a {
  text-decoration: none;
  font-size: 32px;
  color: #423D42;
  
}

.About {
  width: 100%;
  margin: auto;
  text-align: left;
  
  padding-bottom: 0;
} 

.LeftHalf {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  
}

.About p {
  font-size: 20px;
  width: 85%;
  color: black;
  font-size: 1rem;
  line-height: wrem;
  padding-left: 2.7rem;
  padding-top: 1rem;
  /*font-family: 'Anonymous Pro', monospace;*/
  font-family: 'Oswald', sans-serif;

}

.LeftHalf a {
  text-decoration: none;
  margin-left: 2.3rem;
 color: #423D42;
  border: 1px solid #423D42;
  padding: 6px 34px;
  font: 14px;
  background: transparent;
  position: relative;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  border-radius: 30px;
  background-color: #FAF2CC;
  
}

.LeftHalf a:hover {
  color: #FFBD59;
  border: 1px solid #FFBD59;
  background: #423D42;
  transition: 1s;
}

.About h1 {
  font-size: 100px;
  font-family: 'League Spartan', sans-serif;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
} 

.RightHalf {
  padding-top: 1.5rem;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  overflow: hidden;
  
}

.About img {
  width: 100%
}

@media (max-width: 700px) {
  .About {
    text-align: center;
  }
  
  .LeftHalf,
  .RightHalf {
    width: 100%;
    position: relative;
  }
  
  .About h1 {
    font-size: 60px; 
    padding-left: 0.5rem; 
    padding-top: 1.5rem; 
  }
  
  .About p {
    font-size: 16px; 
    width: 90%; 
    padding-left: 1.5rem; 
    padding-top: 1rem; 
  }
}


/*CONSULTATION*/
.consultation {
  background-color: #FAF2CC;

}

.consultation h1 {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  color: #423D42;
  font-family: 'League Spartan', sans-serif;
}

 .belowHeader {
  padding-top: .5rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color:#423D42;
  letter-spacing: .1rem;
}

strong {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

p > strong {
  font-weight: 400; 

  &::after {
    bottom: -0.2rem;
    height: 0.5rem;
    left: -0.25rem;
    right: -0.25rem;
  }
}

/*.Titles {
  display: flex;
  padding: 1% 6%;
  justify-content: center;
  align-items: top;
}
  */
  .Titles {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
  }
  
  .Titles h2 {
    margin: 0 5rem 0 2rem; /* Adjust the horizontal spacing */
    font-family: 'League Spartan', sans-serif;
    color: #423D42;
    flex: 1;
  }
  


/*.consultation h2 {
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
  color: #423D42;
}
*/
.card-container {
  display: inline-block;
  text-align: center; /* Center the content horizontally */
  margin: 1rem .2rem; /* Adjust spacing between cards */
}

.subtitle {
  font-family: 'League Spartan', sans-serif;
  color: #423D42;
  font-size: 1.5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: .2rem solid #423D42;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */ 
  margin-left: 2rem;
  margin: .5rem 5rem; /* Adjust the spacing between cards */
  flex: 1; /* Distribute the space equally among the cards */
  max-width: 300px; /* Limit the width of each card */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  color: #FFBD59;
  text-align: left;
  background-color: #423D42;
  transform: rotateY(180deg);

}

.quoteButton {
  text-decoration: none;
  margin-left: 38.5rem;
 color: #423D42;
  border: 1px solid #423D42;
  padding: 6px 34px;
  font: 14px;
  background: transparent;
  position: relative;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  border-radius: 30px;
  background-color: #FAF2CC;
  
}

 .quoteButton:hover {
  color: #FFBD59;
  border: 1px solid #FFBD59;
  background: #423D42;
  transition: 1s;
}


/*CONTACT PAGE*/

.contact {
  background-color: #FAF2CC;
} 

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #423D42;
  font-size: 40px;
  margin-bottom: 5px;
  font-family: 'League Spartan', sans-serif;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #423D42;
  border-radius: 10px;
  margin-bottom: 20px;

}


.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #FFBD59;
  border-radius: 50px;
  background-color: #423D42;
  font-family: 'League Spartan', sans-serif;
}

.special-input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #423D42;
  border-radius: 50px;
  background-color: #FFBD59;
  font-family: 'League Spartan', sans-serif;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;

}

.contact-inputs:focus {
  border: 2px solid #FFBD59;
}

.special-input {
  border: 2px solid #423D42;
}

.contact-inputs::placeholder {
  color: #FFBD59;
}

.special-input::placeholder {
  color:#423D42;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #FFBD59;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'League Spartan', sans-serif;
  background: #423D42;
}


.contact-left button i {
  height: 15px;
}

@media (max-width:700px) {
.contact-inputs {
  width: 80vw;
}
.contact-right {
  display: none;
}



}